*{
    box-sizing: border-box;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: silver;
}
.modal-container{
    background-color: rgba(0. 0. 0. 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    left: 600px;
    height: 100vh;
    width: 70vw;
  }
  .modal-container.show{
    pointer-events: auto;
    opacity: 1;
  
  
  }
  .close{
    background-color: #47a386;
    border-radius:5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 30px;
  }
  .modal{
    background-color: #fff;
    width: 1400px;
    max-width: 100%;
    padding: 10px 50px;
    text-align: center;
    height: 90vh;
  }
  .modal h1{
    margin: 0;
    font-family: 'Luxurious Script';
    color: #EAA023;
    font-size: 70px;
  }
  .modal p{
    font-size: 20px;
  }
